#output{
    text-align: right;
    display: block;
    width: 88%;
    margin-bottom: 10px;
    height: 45px;
    background-color: black;
    color: aqua;
    font-weight: bold;
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;

}
h2{
    text-align: center;
    font-size: 2.5rem;
    color: 	#e55944;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

form{
    border: 2px solid black;
    height: 60vh;
    width: 25vw; 
    border-radius: 25px;    
    box-shadow: 2px 3px 2px 2px rgba(152, 125, 154,0.7);
    background-color: rgba(255,255,255,0.7);
   
    
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
    
}

.numbers{
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 10px;
}
.operators{
   display: grid;
   gap: 10px;
   width: 75px;
   height: 250px;
   margin-left: 10px;
}
button{
   font-weight: bold;
   background-color: black;
   color: aqua;
   border: 2px solid white;
   border-radius: 10px;
   cursor: pointer;
}